.photos {
  margin-bottom: 169px;
  padding: 0 20px;
}

.photos > h2 {
  text-align: center;
  color: #212121;
  font-size: 57px;
  font-weight: 700;
  font-family: "PT Serif", serif;
  margin-bottom: 61px;
}

.photos .photos-categories {
  display: flex;
  gap: 28px;
  justify-content: center;
  margin-bottom: 63px;
}

.photos .photos-categories li a {
  font-size: 18px;
  color: #9E9E9E;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  letter-spacing: 3%;
}

.photos .photos-categories li a.active {
  color: #005DFF;
}

.photos .photos-categories li a.active::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #005DFF;
}

.photos .gallery {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1140px;
  margin: 0 auto 63px auto;
}

.photos .gallery li {
  display: none;
}

.photos .gallery li.active {
  display: block;
}


.photos .view-portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #FF6A00;
  border: 1px solid #FF6A00;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 3%;
  width: 225px;
  height: 46px;
  border-radius: 80px;
  margin: 0 auto;
  transition: .3s;
}

.photos .view-portfolio:hover {
  color: #fff;
  background-color: #FF6A00;
}

.photos .view-portfolio img {
  width: 14px;
  height: 15px;
}

@media (max-width: 900px) {
  .photos > h2 {
    font-size: 42px;
  }
}

@media (max-width: 670px) {
  .photos > h2 {
    font-size: 32px;
  }
}

@media (max-width: 550px) {
  .photos .photos-categories {
    gap: 14px;
  }

  .photos .photos-categories li a {
    font-size: 14px;
  }
}