.form-fotos {
  background-color: #ddd;
  padding: 40px;
  display: flex;
  border-radius: 20px;
  max-width: 900px;
  flex-direction: column;
}

.form-fotos h2 {
  color: #212121;
  font-family: "PT Serif", serif;
  font-size: 32px;
  margin-bottom: 40px;
}

.form-fotos label {
  margin-bottom: 10px;
  color: #212121;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

.form-fotos input {
  height: 40px;
  border-radius: 10px;
  padding-left: 8px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.form-fotos select {
  height: 40px;
  border-radius: 10px;
  padding-left: 8px;
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  margin-bottom: 20px;
}

.form-fotos input[type="submit"] {
  background-color: #005DFF;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}